extends layout

block content
  h1= title
  table(class="table table-striped")
    thead
      tr
        th="Game"
        th="Description"
        th="Price"
        th="Medium"
    tbody
      each val in gameinstance_list
        tr
          td
            a(href=`/catalog/gameinstance/${val._id}`)=val.game.title
          td=val.description
          td=`£${val.price}`
          td
            span=`${val.console}`
            hr(style="margin: 0.2rem")
            span=`${val.medium}`
      else
        td
          td="There are no games"