extends layout

block content
  h1= title
  table(class="table table-striped")
    thead
      tr
        th="Game"
        th="Description"
        th="Price"
        th="Medium"
        th=""
    tbody
      each val in gameinstance_list
        if (!val.game)
          tr
            td="Game missing from records"
            td="N/A"
            td="N/A"
            td="N/A"
            td
              a(href=`/catalog/gameinstance/${val._id}/delete`)
                  button(class="btn btn-sm btn-danger")
                    i(class="fa fa-trash-alt")
        else
          tr
            td
              a(href=`/catalog/gameinstance/${val._id}`)=val.game.title
            td=val.description
            td=`£${val.price}`
            td
              span=`${val.console}`
              hr(style="margin: 0.2rem")
              span=`${val.medium}`
            td
              a(href=`/catalog/gameinstance/${val.game.id}/delete`)
                button(class="btn btn-sm btn-danger")
                  i(class="fa fa-trash-alt")
      else
        div
          h6="No games to display"