extends layout

block content
  - game_list.sort(function(a, b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
  h1= title
  table(class="table table-striped")
    thead
      tr
        th="Game title"
        th="Platform/console"
    tbody
      each game in game_list
        tr
          td
            a(href=`/catalog/game/${game.id}`)=game.title
          td=game.platform.consoleName
      else
        tr
          td="There are no games."