extends layout

block content
  h1= title
  table(class="table table-striped")
    thead
      tr
        th="Game"
        th="Description"
        th="Price"
        th="Platform details"
    tbody
      each val in gameinstance_list
        tr
          td=val.game.title
          td=val.description
          td=`£${val.price}`
          td
            span=`Developer: ${val.game.developer}`
            hr
            span=`Medium: ${val.game.platform}`
      else
        td
          td="There are no games"