extends layout

block content
  - game_list.sort(function(a, b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
  h1= title
  table(class="table table-striped")
    thead
      tr
        th="Game title"
        th="Platform/console"
    tbody
      each game in game_list
        tr
          td
            a(href=`/catalog/game/${game.id}`)=game.title
          td=game.platform.consoleName
          td
            a(href=`/catalog/game/${game.id}/delete`)
              button(class="btn btn-sm btn-danger")
                i(class="fa fa-trash-alt")


      else
        br
        br
        div
          h2="There are currently no games:"
        br