extends layout

block content
  h1=title
  form(action=`/` method='post')
    hr
    label(for="select-genres")="Game title:"
    input.form-control.col-lg-6(name="input-title" type='text' placeholder='e.g. Super Mario Bros.')
    br
    label(for="textarea-description")="Description:"
    textarea.form-control.col-lg-6(name="textarea-description" placeholder="Describe the product and its condition here")
    br
    label(for="input-price")="Price (in £):"
    input.form-control.col-lg-6(name="input-price" type="number" min="0.00" max="10000000.00" step="0.01" value="10.00")
    br
    label(for="input-number-in-stock")="Number in stock (set to 1 unless multiple near-identifical copies):"
    input.form-control.col-lg-6(name="input-number-in-stock" type="number" min="0" step="1" value="1")
    br
    input.form-control.btn.btn-danger.col-lg-6(type='submit' value='Submit')
    br