extends layout

block content
  h1= title
  table(class="table table-striped")
    thead
      tr
        th="Console Name"
        th="Manufacturer"
        th="Medium"
        th
    tbody
      each platform in platform_list
        tr
          td
            a(href=`/catalog/platform/${platform.id}`)=platform.consoleName
          td=platform.manufacturerName
          td=platform.medium
          td
            a(href=`/catalog/platform/${platform.id}/delete`)
              button(class="btn btn-sm btn-danger")
                i(class="fa fa-trash-alt")