extends layout

block content
  h1=title
  form(action=`/catalog/platform/${platform_detail._id}/update` method='post')
    hr
    label(for="consoleName")="Console name:"
    input.form-control.col-lg-6(name="consoleName" type='text' placeholder='e.g. Nintendo 64' value=platform_detail.consoleName)
    br
    label(for="manufacturerName")="Manufacturer name:"
    input.form-control.col-lg-6(name="manufacturerName" type='text' placeholder='e.g. Nintendo' value=platform_detail.manufacturerName)
    br
    label(for="medium")="Medium:"
    input.form-control.col-lg-6(name="medium" type='text' placeholder='e.g. Catridge' value=platform_detail.medium)
    br
    input.form-control.btn.btn-primary.col-lg-6(type='submit' value='Submit')
    br